@import 'clouds.scss';
@import 'query.scss';

@font-face {
  font-family: "Silkscreen";
  src: url(public/font/slkscr.ttf);
}

:root {
 --gray1: #C0C0C0;
 --gray2: #DADAE6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Silkscreen";
}

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  &:visited {
    color: inherit;
  }
}

#app {
  width: 100%;
  height: 100%;
  background: url("public/background/pixel-bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.box {
    background-color: pink;
    width: fit-content;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 3px;
  z-index: 2000;
  height: 3rem;
  background-color: var(--gray1);
  border-top: 4px solid var(--gray2);

  &_home {
    width: fit-content;
    font-size: 1.4rem;
    letter-spacing: -2px;
    background: linear-gradient( rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) );
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .small {
      display: none;
    }

    img {
      object-fit: contain;
      -khtml-user-select: none;
      -o-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

    &:hover {
      background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) );
      cursor: default;
    }
  }

  &_time {
    width: fit-content;
    font-size: 1.4rem;
    letter-spacing: -2px;
    padding: 3px;
    background: linear-gradient( rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) );
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) );
      cursor: default;
    }
  }

  &_apps {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    .app-icon {
      width: 4rem;
      object-fit: contain;
      padding: 0.2rem 0.1rem 0.2rem 0.1rem;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;

      &:hover {
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid gray;
        border-bottom: 2px solid gray;
      }
    }

    .active {
      background-color: var(--gray2);
      border-top: 2px solid white;
      border-left: 2px solid white;
      border-right: 2px solid gray;
      border-bottom: 2px solid gray;
    }

  }

}

.desktop {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: absolute;
  gap: 1rem;
  z-index: 10;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 3px;
    cursor: default;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid black;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}

.window {
  background-color: var(--gray2);
  z-index: 20;
  position: absolute;
  padding: .5rem;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid black;
  border-bottom: 2px solid black;

  &_page {
    width: fit-content;
    height: fit-content;
  }

  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000080;
    padding: .2rem;
    
    h3 {
      color: white;
    }

    &_btn {
      display: flex;
      justify-content: space-between;
      gap: 5px;

      .close {
        padding: 1px 2px 1px 2px;
        height: fit-content; 
        background-color: var(--gray2);
        border: none;
        border-top: 2px solid whitesmoke;
        border-left: 2px solid whitesmoke;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        font-size: 1.2rem;

        &:active {
          background: gray;
        }
      }
  
      .mini {
        padding: 1px 4px 1px 4px; 
        height: fit-content;
        font-size: 1rem;
        background-color: var(--gray2);
        border: none;
        border-top: 2px solid whitesmoke;
        border-left: 2px solid whitesmoke;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        font-size: 1.3rem;

        &:active {
          background: gray;
        }
      }
    }

  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:  1rem 0 1rem 0;
  gap: 1rem;
  width: 45rem;

  &_main {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-right: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
  }

  &_bot {
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 42rem;
  
  h2 {
    font-size: 2rem;
  }

  p {
    background-color: #F3F3F7;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: .5rem;
    font-size: 1.2rem;
  }
}

.education {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 50rem;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
      gap: 2rem;
      height: fit-content;
      padding: .5rem .5rem .5rem .5rem;
      background-color: #F3F3F7;
      border-top: 2px solid white;
      border-left: 2px solid white;
      border-right: 2px solid gray;
      border-bottom: 2px solid gray;

      .douglas {
        width: 4rem;
        height: 4rem;
      }
      .fcc {
        width: 4rem;
        height: 4rem;
      }

      img {
        padding: .5rem;
      }
    }
  }
}


.skills {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  max-width: fit-content;

  &_lang {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-direction: column;
      }

      img {
        width: 5rem;
        height: 5rem;
        padding: .5rem;
        background-color: #F3F3F7;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid gray;
        border-bottom: 2px solid gray;
      }
    }
  }

  &_other {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 1rem;

      li {
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-direction: column;
        font-size: .80rem;
      }

      img {
        width: 5rem;
        height: 5rem;
        padding: .5rem;
        background-color: #F3F3F7;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid gray;
        border-bottom: 2px solid gray;
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 70vh;
  max-width: fit-content;
  overflow-y: auto;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    li {
      list-style: none;

      a {
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-direction: column;
        list-style: none;
        height: fit-content;
        text-decoration: none;
        background-color: #F3F3F7;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid gray;
        border-bottom: 2px solid gray;
        padding: .5rem;


        &:hover {
          background-color: var(--gray2);
        }

        div {
          display: flex;
          flex-direction: column;
          max-width: 20rem;
        }
      }
    }

    img {
      max-width: 15rem;
      object-fit: cover;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: fit-content;

  &_main {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .resume { 
      background-color: #F3F3F7;
      border-top: 2px solid white;
      border-left: 2px solid white;
      border-right: 2px solid gray;
      border-bottom: 2px solid gray;
      padding: .5rem;
      text-decoration: none;
      width: fit-content;
      margin: 0 auto;

      &:hover {
        background-color: var(--gray2);
      }
    }
  }

  &_sub {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &_bot {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    a { 
      background-color: #F3F3F7;
      border-top: 2px solid white;
      border-left: 2px solid white;
      border-right: 2px solid gray;
      border-bottom: 2px solid gray;
      padding: .5rem;
      text-decoration: none;
      width: fit-content;
      margin: 0 auto;

      &:hover {
        background-color: var(--gray2);
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    li {
      list-style: none;
      img {
        width: 4rem;
        height: 4rem;
        padding: .2rem;
        background-color: var(--gray2);
        background-color: #F3F3F7;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid gray;
        border-bottom: 2px solid gray;
      }
    }
  }
}

.hidden {
  display: none;
}

#app .window.current {
  z-index: 1500 !important;
}

.color-fade {
  color: transparent;
  background-image: linear-gradient(to left, #a7cdff,#7297fc,#004278, #000080);
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 10s linear infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
}

@keyframes animate {
  0% {
      background-position: 0 100%;
  }
  50% {
      background-position: 100% 0;
  }
  100% {
      background-position: 0 100%;
  }
}
